notifications:
  email: false

branches:
  only:
    - saturn
    - /^v\d+\.\d+\.\d+/

language: node_js

node_js:
  - 10
  - 12

before_install:
  # Add `aws` CLI tool.
  - pip install --user awscli

install:
  - yarn install --frozen-lockfile --non-interactive

jobs:
  include:
    - &buildReTest
      stage: Build Reason and Test
      script:
        - yarn build:re
        - yarn test
    - <<: *buildReTest
      node_js: 12
    - &checkTs
      stage: Check TypeScript
      script:
        - yarn check:ts
    - <<: *checkTs
      node_js: 12
    - &lint
      stage: Lint
      script:
        - yarn lint
    - <<: *lint
      node_js: 12
    - &build
      stage: Build
      script:
        - yarn build
    - <<: *build
      node_js: 12
    - stage: documentation
      node_js: 12
      script:
        - cd docs
        - yarn install --frozen-lockfile
        - yarn run check-ci
        # Build and deploy to staging.
        - yarn run clean
        - yarn run build
        - yarn run deploy:stage
      deploy:
        # Deploy saturn to production
        - provider: script
          # Build and deploy to production.
          # _Note_: `deploy.script` must be a **single** command string
          script: yarn run deploy:prod
          skip_cleanup: true
          on:
            branch: saturn

env:
  global:
    # **GitHub**: `GitHub (renature-ci)` "Tokens"
    # GITHUB_DEPLOYMENT_TOKEN
    - secure: 'KTGqgy2LjqSu+vCgHkqAZbsy5qBLJXxp9Ad5mvF98jkuvnl/82rDdPOrzRqXuPv8zJYTbftco625xOIb22F0x1OZLA0flNpGg5yuHJxwfz7Stix9ENS5anbwdcef62JsfnLxTB9luQb0p4IfNBj2zAgix+YjQZ1uuuBQ37q+907ZYI3CXlN7time3fyDMASnhCfirnOj5PmyW73s9uurnmbC0jUN/mUZ5XbWbmjQLzhKtchZb3oHkkdISksPNW4EWuIR6OowwHHq5BANZWsqFDQScBy8RDxnJtjJ4Hvtn6lDLsqdqIZVTn4311pPN8qsfPI/4rsaDG1gLk3LraWCfGfjxmQIpMKPlehE7/8969jeglaTbA7mqiLwUXTqdRctPZcUezdL5SP4WFTZzRz1eVF8PgHVH2QkVi6YKT91TYV8Uk4eZDYCPAdr3ytr2uxoPTm1uioTKCh7hELszYhG7RgKyU/X+LFrTcE0EW9CnEkAxBCyp35s3Em9qYTNE44r12N/J2RqKa1zs6UYY+OQh4ug+eSPoOePDA/ggLd4WRq8l63gj5XFKy9u37u3QglaCKjpsSJt4jvHjDB3TcbHGEbWUf4U0ypP00SFDAa+22ugnT93m3L6GqFlCFZxp4YtyGeRaPjcnyMMwTymMGko8hgjYxszWOkN9WeFQbZ5e1U='

    # **Staging**: surge (`Surge.sh`)
    # SURGE_LOGIN
    - secure: 'pLIWSL4E74AeoS5W3M8osmlqY7+p5QOYSBy1ZAbUCOT4OXVpVjg+McmYsTJ9+ItBM37r39XyrTMs1APy3O0P/a/SBYH0JLPEqHkyJMSFau7MV5IGN1mJjiPtf6hkzJhvlhzESOpktsZYc+pyQqn0G7nyxjus6tCb2lbY1SGCFqPtV9vXSJgEI2f1xTnL+O1PVF7Q/MdI3CVZ09D3n9iPVJTyEVmpI4LZnXJ4qHl6eVCl+BlNIaDOKbErsGGKHBnRYqR7dgnoxlGITy4xPIEXOOH2F6HgMYY6twLuD++oJ2/74p1pyE8lDvBQGZa/p/SXG4ESaDEidnW03qw6F2aUrSEz7+fXM6KTL8dXmVO2ztce7WlKTGSA/1tDe1UEAw0kEzhxz06KLSKLSjnklLU2fCep0hEF28rMycTWUULuKTY6zo5apPSVIuRAJLDA/sVAlNAz04VRDYRUsqFJgYzlkhZbWJ/UPkT3DwDEDUJkUv8Beis3jrFB4E6etNFMoHUe9sMlQgt4XI/sVUAOlhrNq7gbmQUeHWhtuDBSlfOO2+UoSzzde5JUSQi48A8zXppCtdQd3CkQF0dkleqSGGbmLifp8Q5BI9hkat9CR7EYtu0aQNBxmRVcAs4pUhkSVo1jQ5anXpl6EkLirtS/fKyDGZC+kTi/2B8X3TE07MArcd4='
    # SURGE_TOKEN
    - secure: 'TCQK4qFwiZmGHzfc2O9rW1zsiR8Y2DvMtpvojhecWUfC+5UsmN1QWc67YE1DlIjg7HxT5Hlx6p+rX7C58NvnrIgzqh8fKhFl6JUAEd/EoBQpDgTu9YMdxOfe+mAYGMHGUbf7/+TrNfbvgDuJjgqrdhfudIqeJcnslDGE5V1pfRNNiRjduycbdLRLgDRg8MTehFB1maLhQA5dnsZdkbwGMkcG+YzAtVfDHU2XYTVAIUm7SILHJMA8nz9VBOKHptXJnHD/+zDZUseMgRib9KNFALIokcQsPXEZHKx4UrMghl6HcpP6pJopc+2wZ+XPeSPTDc0RUsfszn6YE2Yh5peGJNYuEPjoVk1vps4SMdl2FqjOHrTLis8yBZmjRydqSLXNaDsRwaBXgzlZywydLq6yvkIv2PxwT8peSFmEOQYWfd2vlrJWtv5jKR/9pO7pUcCQvzBc0NqCcHgWAU8WHvDu23m1Rs2SYth6F7uElbxznmjtZhFUZrwhs6/7XrXhuBhg5L5xhwMcH3NN5VvBbjJ4dNs2iVJpMPt277HUB+3fFdGtiklWC65OA3beyScCl/OAUAPAfgVDINLQD0cfCti6s4Exb8VVzz0lM9jaNUP6E58RyuA9NbrtnzKHgaaAZtIsSNHw77K355xS4Zhz0+sF2tIojoJ11Wfr04/45FqqGzA='

    # **Production**: `AWS IAM (renature-ci)` (AWS user: `tf-formidops-renature-ci`)
    # AWS_ACCESS_KEY_ID
    - secure: 'HXQHdcbas2FOhBLk2InRcbodIKJ2GvyaE8LA9l9MeSFxLlapXjsEqmZKUWYWAl8gupApx0sIxhj6bDYTNgANO72lNaAsTiXU+LuqAiuq6ealmr5DtuF7K3FZ36WwsvV1rsf6Ekkh3Fh9LK1GVItzk9a53VHOutqDlt/UZTTa43uRDix0iSaykhC8raxU6ayX+ikSGVKA0wsRu8Zxke+y+wGX8sN4KMGaHMKJ7xy5mVzxkG67KpbR+z8O/vmka1njMbPusbt6Z+0uARePqfLryC2RbXBGrleuZdnOohISUrHWLrAYOBYwTCq+dyYBdv4IEdWx6lkBx/JMLll3ycZPktaNAwiq2A2ydImT4UsneS5I0xe5V9oGQ+e999y+P4JkaMw5tojNzCgl5Ap1ZIjDZ2enXwrPolu9gmf3bqDCGNifJQgh3P0DQhIetw0ASuFMyxCc1lO2JbrhJzj7goNAxEru4cU6VfXnVsqn4l94k1NGZZWGzSFBvfWCJrCsS/SpDAXerfayoABWBibLEaP8ZBXnB64oc5aA/YaehTUR5tXqDmgfrrwFFn/tRpiNu/mr1lnm/0PFO+ucGlBaMWEt9cWp1NjC5cPzohi2131NtHcrC67FE3SlET8xekrg7ZbHy0kmmaS/C8hGbJKoKaYt/o9TWcOtptkBbjEnjf7Q5ig='
    # AWS_SECRET_ACCESS_KEY
    - secure: 'u0kSGU6i/7Dko6/k8nazgsA4Br4GDmvmhTb6UQetu3TXezz5wmlPnbDcozC03bHN5vYoB9hgYmMJpRZCpV3LtIe4oP3zvZeklpsMBWEeolmHd2zp38ke9enxEGi2kWKpCfB9xkpCqNf0z8yuZfafhnV4MYXfhEk+qdNyOffebjXx76jQM6H8m/mM4VkI20SpdF+wkWJla5adqLwMxuXcGzV/iiV4Eu3K9qMLdqN8HLVuN6vXa1p978dtQTGvU8sRG834tKMGKq6HN+p5GpTokLpcNRqEuD9EtLoDaUDvH14ZRfTTPCAcu000EYa1FFzFf/1tsPEM/6StIu9ZOpSkSOopWyve6PzXWf+QhNdIbegQdwLdsy+Ai+gUf7VEVKIVWpRZTVfulpRktZs6WxSAWrI7wzPvyU1wxUSn2n72Fe3aIK6G2vDARrpAYiO7RFqM6FpL7EgnIdofNxguBQsr+w43CVg5/PMvP2bqJ9vDsvmjROvi8/TDR2mJXItp0ueMdHDj4ImEdpEAOtnzMCwcwlTsZBaQrXY2Z8KB3gcK+2fcsAxCSBU6NuS2i3YvUIexN7Mdxpdd0ZpfNVlcB4/SfIgI+BIIX9K8s5OjaJG7uaaDDiaZ0yLSMw8mZVErc/x+0ywMf6n65X+SmMwFaC0XTVKocprXu2GVTSoiA56gTp8='
