* {
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-red: #f25050;
  --color-magenta: #d90467;
  --color-purple: #a04ad9;
  --color-orange: #f29441;
  --color-yellow: #f2cf63;
  --color-near-black: #011826;
  --color-deep-blue: #053959;
  --color-renature-purple: #7860ed;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.space {
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--color-near-black), var(--color-deep-blue));
}

.mover {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  transform-origin: center;
}

.mover--opacity {
  background: var(--color-purple);
}

.mover--translate {
  background: var(--color-magenta);
}

.mover--rotate {
  background: var(--color-yellow);
}

.mover--scale {
  background: var(--color-red);
}

.mover-2d {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: var(--color-white);
  box-shadow: 0 0 8px 4px var(--color-white), 0 0 16px 8px var(--color-purple);
}

.mover-2d--secondary {
  height: 45px;
  width: 45px;
  background: var(--color-red);
  box-shadow: 0 0 10px 5px var(--color-red);
}

.attractor-2d {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: var(--color-yellow);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px 15px var(--color-yellow);
}

.react-logo {
  stroke: var(--color-renature-purple);
  stroke-width: 3;
  fill: transparent;
}

.stack-horizontal {
  display: flex;
}

.stack-horizontal > * {
  margin-left: 0;
  margin-right: 0;
}

.stack-horizontal > * + * {
  margin-left: 1rem;
}
