* {
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-red: #f25050;
  --color-magenta: #d90467;
  --color-purple: #a04ad9;
  --color-orange: #f29441;
  --color-yellow: #f2cf63;
  --color-near-black: #011826;
  --color-deep-blue: #053959;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.space {
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--color-near-black), var(--color-deep-blue));
}

.mover {
  position: relative;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.mover--opacity {
  background: var(--color-red);
}

.mover--translate {
  background: var(--color-magenta);
}

.mover--rotate {
  background: linear-gradient(var(--color-purple) 50%, var(--color-orange) 50%);
}

.mover--scale {
  background: var(--color-purple);
}

.mover-2d {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: var(--color-white);
  box-shadow: 0 0 4px 2px var(--color-white);
}

.mover-2d--secondary {
  height: 45px;
  width: 45px;
  background: var(--color-red);
  box-shadow: 0 0 10px 5px var(--color-red);
}

.attractor-2d {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: var(--color-yellow);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px 15px var(--color-yellow);
}
